<div class="page" data-ng-controller="PreviewEditQuestionCtrl">
    <section class="panel panel-default">
        
        <div class="panel-heading">
            <strong>
            	<span class="glyphicon glyphicon-th"></span> 
            	Question Form
            </strong>
        </div>
        
        <form name="ViewSurvey" novalidate>
            
            <div class="panel-body">
                <b>Rating Scale : </b>
                            Poor - <i class="fa fa-star starrate"></i> 

                            Fair - <i class="fa fa-star starrate"></i>
                            <i class="fa fa-star starrate"></i>

                            Good - <i class="fa fa-star starrate"></i>
                            <i class="fa fa-star starrate"></i>
                            <i class="fa fa-star starrate"></i>

                            Very good - <i class="fa fa-star starrate"></i>
                            <i class="fa fa-star starrate"></i>
                            <i class="fa fa-star starrate"></i>
                            <i class="fa fa-star starrate"></i>

                            Excellent - <i class="fa fa-star starrate"></i> 
                            <i class="fa fa-star starrate"></i>
                            <i class="fa fa-star starrate"></i>
                            <i class="fa fa-star starrate"></i>
                            <i class="fa fa-star starrate"></i>
                <!-- <ol>
                    <li ng-repeat="field in question">

                          <field-directive field="field">

                            </field-directive>
                        <br>
                    </li>

                </ol> -->
                <div class="fbList ovrFlwAuto" ng-hide="FlagQuestion">
                    <ul>
                        <li ng-repeat="field in question">
                            <field-directive field="field">
                            </field-directive>
                        </li>
                    </ul>
                </div>
            </div>
        </form>

        <p class="text-center" ng-hide="FlagQuestion">
            <button class="btn btn-primary btn-large right" type="button" 
            ng-click="backsurvey()"><i class="icon-arrow-left icon-white"></i> 
                <i class="glyphicon glyphicon-chevron-left">
                </i>
                Back
            </button>
        </p> 
    </section>
</div>