<div class="modal-header">
            <h3 class="modal-title">Edit Sub-Category</h3>
</div>
        <div class="modal-body">            
            <div class="panel-body">
                    <form   name="SubCategoryForm" 
                            class="form-horizontal form-validation" 
                            data-ng-submit="submitForm()" novalidate>

                        <div class="form-group">                            
                            <div class="col-sm-4">
                                <label for="">Sub-Category Name : </label>
                            </div>
                            <div class="col-sm-8">
                                <input  type="text"
                                        class="form-control"
                                        name="subcate_name"
                                        placeholder="Enter Sub-Category Name"
                                        data-ng-model="subcate.subcategory_name"
                                        required
                                        data-ng-minlength="2"
                                        data-ng-maxlength="30">
                                <span   class="text-danger"
                                        ng-show="SubCategoryForm.subcate_name.$error.required && !SubCategoryForm.subcate_name.$pristine">
                                        Sub-category name is required.                              
                                </span>
                            </div>
                        </div>
                  <!--       <button type="submit"
                                ng-click="UpdateProduct(Product)"
                                class="btn btn-primary btn-block btn-lg"
                                ng-disabled="SubCategoryForm.$invalid">
                                Update
                        </button> -->
                    </form>
                </div>

        </div>
<div class="modal-footer">
    <button class="btn btn-primary" 
            type="submit" 
            ng-click="UpdateSubCategory(subcate)"
            ng-disabled="SubCategoryForm.$invalid">
            Update
    </button>
    
    <button class="btn btn-danger" 
            ng-click="cancel()">
            Cancel
    </button>
</div>