<div class="page page-form">
    <div class="row">

        <div class="col-md-8">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>
                    <span class="glyphicon glyphicon-th"></span>
                    Add Sub-Category
                    </strong>
                </div>
                <div class="panel-body">
                    <form   name="SubCategory_form" 
                            class="form-horizontal form-validation" 
                            data-ng-submit=""
                            novalidate>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="">Sub-Category Name:</label>
                            </div>
                            <div class="col-sm-9">
                                <input  type="text"
                                        class="form-control"
                                        name="subcategory_name"
                                        placeholder="Enter Sub-Category Name"
                                        data-ng-model="subcategory.subcate_name"
                                        required
                                        data-ng-minlength="2"
                                        data-ng-maxlength="30">
                                <span   class="text-danger"
                                        ng-show="SubCategory_form.subcategory_name.$error.required && !SubCategory_form.subcategory_name.$pristine">
                                        Sub-Category name is required.
                                </span>
                            </div>
                        </div>                       

                        <div class="text-center">
                        <a  href="" 
                            type="cancel"
                            ng-click="back()"
                            class="btn btn-primary btn-lg">
                                Back
                        </a>
                        <button type="submit"
                                class="btn btn-primary btn-lg"
                                ng-click="SubmitSubCategory(subcategory)"
                                data-ng-disabled="SubCategory_form.$invalid">
                                Add Sub-Category
                        </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>