<div id="nav-wrapper">
    <ul id="nav"
        data-collapse-nav
        data-slim-scroll
        data-highlight-active>        
        <li>
            <a href="#/dashboard"> 
            <i class="fa fa-dashboard">
                <span class="icon-bg bg-danger"></span>
            </i>
            <span>Dashboard</span> 
            </a>
        </li>
        <li>
            <a href="#/category"> 
            <i class="fa fa-dashboard">
                <span class="icon-bg bg-danger"></span>
            </i>
            <span>Category</span> 
            </a>
        </li>
        <li>
            <a href="#/survey"> 
            <i class="fa fa-cubes">
                <span class="icon-bg bg-success"></span>
            </i>
            <span>Survey</span> 
            </a>
        </li>
        <li>
            <a href="#/setting"> 
            <i class="fa fa-cog">
                <span class="icon-bg bg-success"></span>
            </i>
            <span>Setting</span> 
            </a>
        </li>
    </ul>
</div>